@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

*{
    margin: 0;
    padding: 0;
}

body, html{
background-color: #ffffff;
box-sizing: border-box;
width: 100vw;
overflow-x: hidden;
}

.cabeca{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
    justify-content: center;
    
}



.cabos{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row-reverse;
    
    
   

}

 h2, h1{
    font-family: "Audiowide", serif;
    text-align: center;
    bottom: 10px;
}



div#cabo1{
    background-color: rgb(255, 255, 255);
    padding: 90px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 8px;
    
    

}



div#cabo2{
    background-color: rgb(255, 255, 255);
    padding: 90px;
    border: 2px solid black;
    bottom: 20px;
    margin: 10px;
    border-radius: 8px;
    
}

div#cabo2:hover{
    padding: 100px;
    
}

div#cabo3{
    background-color: rgb(255, 255, 255);
    padding: 90px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 8px;
}

div#usb{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

summary {
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    cursor: pointer;
    list-style-type: "→";
} 



details[open] summary{
    list-style-type: "↓";
}

span > a{
    text-decoration: none;
    color: grey;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span{
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    width: 900px;
    
}

mark{
    background-color: black;
    color: #ffffff;
    padding: 3px;
    border-radius: 4px;
    left: 5px;
}


.rodape{
    position: absolute;
    top: 4800px;
    width: 100%;
    background-color: black;
    padding: 50px;

}

p#footer{
    color: white;
    text-align: center;
    position: absolute;
    bottom: 45%;
    left: 25%;
}