@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
   
} 

body{
    min-height: 100vh;
    justify-content: center;
    background: url(cables.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    background-color: black;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

header > h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header > nav > ul >li{
    text-decoration: none;
    display: inline-block;
    padding: 5px; 
}

header > nav > ul > li > a {
    text-decoration: none;
    align-content: center;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header > nav > ul > li > a:hover{
    text-decoration: none;
    align-content: center;
    font-weight: 600;
    border-radius: 5px;
    padding: 4px;
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item{
    height: 400px;
    width: 400px;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.233);
   
    
}


input{
    transform: translate(40%, 180%);
    padding: 10px;
    font-size: 1.0em;
    border: none;
    border-bottom: 0.5px solid black;
    color: black;
    
    cursor: text;
    box-shadow: 1px 1px 3px rgba(37, 47, 68, 0.233);

    
    
}

input:hover{
    transform: translate(45%, 180%);
    box-shadow: 3px 3px 3px rgba(255, 230, 0, 0.61);
}

.botao{
    border: 1px solid black;
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-size: medium;
    width: 45%;
    transform: translate(60%, 300%);
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 12px;
    
}

.botao:hover{
    border: 1px solid black;
    background-color: rgb(0, 0, 0);
    font-size: medium;
    width: 45%;
    color: white;
    cursor: pointer;
    padding: 5px;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 12px;
    
}

